body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url("background.jpg") no-repeat fixed 100% 100%;
}

h1, h2 {
  /* color: #AC3B61; */
  color: white;
}

h5 {
  color: #AC3B61;
}

h6 {
  color: #AC3B61;
  opacity: 0.7;
}

a {
  color: #123C69;
}

a:hover {
  color: #BAB2B5;
  text-decoration: none;
}

/* BUTTONS */
.btn {
  color: white;
  border-radius: 20px;
  border: 1px solid #9497A7;
  background-color: #9497A7;
  font-weight: bold;
  padding: 12px 45px;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

/* CARDS */
.card {
  box-sizing: border-box;
  background-color: #EDC7B7;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  max-width: 100%;
  display: flex;
}

.card-header {
  background-color: #BAB2B5;
  border: transparent;
  align-items: center;
}

/* FORM INPUTS */
input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25), 0 3px 4px rgba(0, 0, 0, 0.22);
  /* margin-top: 2em; */
}

select {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25), 0 3px 4px rgba(0, 0, 0, 0.22);
}

.container {
  margin-top: 2em;
}