/* STYLING FOR TRACKS CARDS */

a.songLink:hover {
  color: #BAB2B5;
}

i.fa-plus-square {
  margin-left: 10px;
}

i.fa-headphones {
  margin-left: 10px;
}

b.songName {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

b.artistName {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

b.playlist {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.playlist:hover {
  color: #BAB2B5;
}

p.song {
  /* color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px; */
  margin-top: 15px !important;
}

.notification__item--awesome {
  background-color: #9497A7 !important;
  border-left: 0px !important;
  font-weight: bold;
}

