.artistCard {
  align-self: center !important;
  align-items: "flex-start" !important;
  /* width: 1000px !important; */
  /* /* display: flex !important; */
  flex-direction: row !important;
  justify-content: space-around !important; 
}

i.fa-spotify {
  margin-left: 10px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
 }


 .blackBold {
  color: black;
  font-weight: bold;
}
