.artistCard {
  align-self: center !important;
  align-items: "flex-start" !important;
  /* width: 1000px !important; */
  /* /* display: flex !important; */
  flex-direction: row !important;
  justify-content: space-around !important; 
}

/* h4 {
  color: "black" !important; 
  display: "flex" !important; 
  justify-content: "center" !important; 
  text-align: "center" !important; 
  padding-top: "20px" !important;
} */
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
 }


 .blackBold {
  color: black;
  font-weight: bold;
}

/*
  .flex-container {
  float: left !important;
  display: flex;
  align-self: flex-start;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
} */